@charset "UTF-8";
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 69px;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

#contact_modal {
  display: none;
}

main {
  margin: 0 100px;
}

.photograph {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.photograph__description__name {
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
}
.photograph__description__location {
  color: #901C1C;
  font-weight: 400;
}
.photograph__description__citation {
  margin-top: 19px;
}
.photograph button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph__picture {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
}
.photograph__picture img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  object-fit: cover;
}

.section {
  display: flex;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
}
.section .label {
  font-size: 1.125rem;
}
.section .dropdown {
  width: 170px;
  margin-left: 25px;
  margin-top: 9px;
  margin-bottom: 20px;
  background: rgb(144, 28, 28);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  outline: none;
}
.section .dropdown__selected {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  justify-content: space-between;
}
.section .dropdown__selected .chevron {
  font-size: 1rem;
}
.section .dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(144, 28, 28);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.section .dropdown__list li {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-top: 1px solid white;
  cursor: pointer;
}
.section .dropdown__list li:hover {
  background-color: #DB8876;
}
.section .dropdown__list.hidden {
  display: none;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 95px;
}
.galery .element_galery {
  width: 350px;
  height: 351px;
  background-color: gold;
  overflow: hidden;
}
.galery .element_galery img, .galery .element_galery video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.galery .info-img {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 400;
  color: #901C1C;
}
.galery .info-img .boxlike {
  display: flex;
  gap: 6.65px;
  align-items: center;
  cursor: pointer;
}
.galery .info-img .boxlike .numberLikes-counter {
  overflow: hidden;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  width: auto;
  display: inline-block;
}
.galery .info-img .boxlike .numberLikes-counter .digital-Track {
  transition: transform 0.3s ease-out;
}
.galery .info-img .boxlike .numberLikes-counter .digital-Track div {
  height: 40px;
  text-align: right;
}

.boxLikeAndPrice {
  display: flex;
  justify-content: space-around;
  padding-top: 21px;
  position: fixed;
  bottom: 0;
  right: 36px;
  background-color: #db8876;
  width: 376px;
  height: 89px;
  border-radius: 5px 5px 0 0;
  z-index: 100;
}
.boxLikeAndPrice .totalLike {
  display: flex;
  gap: 6px;
  text-align: center;
  font-size: 1.5rem;
}
.boxLikeAndPrice .priceForDay {
  text-align: center;
  font-size: 1.5rem;
}

.lightBox {
  width: 90vw; /* 90% de la largeur de la fenêtre */
  max-width: 1050px;
  height: 90vh; /* 90% de la hauteur de la fenêtre */
  max-height: 900px;
  position: fixed;
  top: 5%;
  left: 25%;
  display: none;
  background-color: purple;
}
.lightBox .control-btn {
  border: none;
  position: relative;
  width: 96px;
  height: 96px;
}
.lightBox .control-btn i {
  color: #901C1C;
  font-size: 48px;
}
.lightBox .control-btn i .fa-solid {
  color: transparent;
}
.lightBox .closeLightBox {
  top: 10%;
  transform: translateY(-50%);
  left: 1080px;
}
.lightBox .previous-btn {
  top: 50%;
  transform: translateY(-50%);
  left: -230px;
}
.lightBox .next-btn {
  top: 50%;
  transform: translateY(-50%);
  left: 890px;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

input#contact_message {
  height: 170px;
}

/*# sourceMappingURL=photographer.css.map */
