*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 69px;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

#contact_modal {
  display: none;
}

main {
  margin: 0 100px;
}

.photograph {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.photograph__description__name {
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
}
.photograph__description__location {
  color: #901C1C;
  font-weight: 400;
}
.photograph__description__citation {
  margin-top: 19px;
}
.photograph button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph__picture {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
}
.photograph__picture img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  object-fit: cover;
}

.section {
  font-weight: 700;
}
.section__select {
  width: 170px;
  height: 69px;
  margin-top: 9px;
  margin-left: 25px;
  border-radius: 5px;
  background: rgb(144, 28, 28);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  border: none;
}
.section__select option {
  width: 170px;
  height: 69px;
  background-color: blue;
  border-bottom: 1px solid yellow;
}

.galery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 95px;
  margin-top: 23px;
}
.galery .element_galery {
  width: 350px;
  height: 351px;
  background-color: gold;
}
.galery .element_galery img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.galery .element_galery .info-img {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.galery .element_galery .info-img h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #901C1C;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

input#contact_message {
  height: 170px;
}

/*# sourceMappingURL=photographer.css.map */
