*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 69px;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

#contact_modal {
  display: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

main {
  margin: 0 100px;
}

.photograph {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.photograph__description__name {
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
}
.photograph__description__location {
  color: #901C1C;
  font-weight: 400;
}
.photograph__description__citation {
  margin-top: 19px;
}
.photograph button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph__picture {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
}
.photograph__picture img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  object-fit: cover;
}

.section {
  display: flex;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
}
.section .label {
  font-size: 1.125rem;
}
.section .dropdown {
  width: 170px;
  margin-left: 25px;
  margin-top: 9px;
  margin-bottom: 20px;
  background: rgb(144, 28, 28);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  outline: none;
}
.section .dropdown__selected {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  justify-content: space-between;
}
.section .dropdown__selected .chevron {
  font-size: 1rem;
}
.section .dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(144, 28, 28);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.section .dropdown__list li {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-top: 1px solid white;
  cursor: pointer;
}
.section .dropdown__list li:hover, .section .dropdown__list li:focus {
  background-color: #DB8876;
}
.section .dropdown__list.hidden {
  display: none;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 95px;
}
.galery[role=list] {
  display: flex;
  flex-wrap: wrap;
}
.galery .element_galery {
  width: 350px;
  height: 351px;
  overflow: hidden;
}
.galery .element_galery[role=listitem] {
  list-style: none;
}
.galery .element_galery img, .galery .element_galery video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.galery .info-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  font-size: 1.5rem;
}
.galery .info-img .titleMedia-wrapper {
  flex: 1 1 auto;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}
.galery .info-img .titleMedia {
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
  min-width: 100%;
  transform: translateX(0);
  cursor: pointer;
}
.galery .info-img .titleMedia.scrollable:hover, .galery .info-img .titleMedia.scrollable:focus {
  animation: scroll-left 3s linear infinite 0.6s;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.galery .info-img .boxlike {
  flex-shrink: 0;
  display: flex;
  gap: 6.65px;
  align-items: center;
  cursor: pointer;
}
.galery .info-img .boxlike .numberLikes-counter {
  overflow: hidden;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  width: auto;
  display: inline-block;
}
.galery .info-img .boxlike .numberLikes-counter .digital-Track {
  transition: transform 0.3s ease-out;
}
.galery .info-img .boxlike .numberLikes-counter .digital-Track div {
  font-size: 1.5rem;
  height: 40px;
  text-align: right;
}

.boxLikeAndPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  position: fixed;
  bottom: 0;
  right: 36px;
  background-color: #db8876;
  width: 376px;
  height: 69px;
  border-radius: 5px 5px 0 0;
  z-index: 100;
  font-size: 1.5rem;
  font-weight: 500;
}
.boxLikeAndPrice .totalLike {
  display: flex;
  height: 40px;
  gap: 6px;
  align-items: center;
  overflow: hidden;
}
.boxLikeAndPrice .totalLike .digital-Track {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease-out;
}
.boxLikeAndPrice .totalLike .digital-Track div {
  font-size: 1.5rem;
  height: 40px;
  text-align: right;
  line-height: 40px;
}
.boxLikeAndPrice .priceForDay {
  text-align: center;
}

.lightBox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 120;
}
.lightBox .mediaLightBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1242px;
  height: 900px;
  position: relative;
}
.lightBox .mediaLightBox .lightbox-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1050px;
  height: 900px;
  overflow: hidden;
}
.lightBox .mediaLightBox .lightbox-content img, .lightBox .mediaLightBox .lightbox-content video {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}
.lightBox .mediaLightBox .titleMedia {
  position: absolute;
  font-weight: 400;
  font-size: 1.5rem;
  color: #901c1c;
  bottom: -40px;
  left: 7.5%;
}
.lightBox .mediaLightBox .control-btn {
  background: transparent;
  border: none;
  position: absolute;
  width: 96px;
  height: 96px;
}
.lightBox .mediaLightBox .control-btn i {
  color: #901C1C;
  font-size: 48px;
}
.lightBox .mediaLightBox .closeLightBox {
  width: 72px;
  height: 72px;
  top: 4%;
  transform: translateY(-50%);
  right: 15px;
}
.lightBox .mediaLightBox .previous-btn {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.lightBox .mediaLightBox .next-btn {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal button {
  background-color: #DB8876;
  border: none;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
form .contact_button:active {
  background-color: #DB8876;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

input#contact_message {
  height: 170px;
}

/*# sourceMappingURL=photographer.css.map */
